{% extends 'base.html.twig' %}

{% block title %}Secret Server{% endblock %}

{% block body %}
    {% if secretFormMessage is not defined %}
        {{ form(addSecretForm) }}
        {{ form(getSecretForm) }}
    {% else %}
    <div class="secretFormMessage">
        {% if secretFormMessage["error"]==false %}
            <p class="success">Your secret have been saved successfully! </p>
            <p>The hash for your secret is: <b>{{ secretFormMessage["hash"] }}</b></p>
            <p>If you want to add another Secret click <a href="/secret"> here</a>.</p>   
        {% else %}
            <p class="error">Error: {{ secretFormMessage["msg"] }}</p>
        {% endif %}
    </div>    
    {% endif %}
{% endblock %}
